@model FeatureDto
<div class="section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7 mb-4 mb-lg-0">
				<img src="/images/article-images/bg.jpg" alt="Image" class="img-fluid rounded
					">
			</div>
			<div class="col-lg-4 ps-lg-2">
				<div class="mb-5">
					<h2 class="text-black h4">Profesyonel blogcular için yayınlama platformu</h2>
					<p>Günümüzün en popüler çalışma alanlarından birisi olan uygulama geliştiriciliği ve yazılımcılık, artık o kadar oturan bir meslek dali ki bazı cümleleri bir kedinin ağzından duysanız onun yazılımcı bir kedi olduğunu düşünebilirsiniz.</p>
				</div>
				<div class="d-flex mb-3 service-alt">
					<div>
						<span class="bi-wallet-fill me-4"></span>
					</div>
					<div>
						<h3>@Model.title</h3>
						<p>@Model.content</p>
					</div>
				</div>

				<div class="d-flex mb-3 service-alt">
					<div>
						<span class="bi-pie-chart-fill me-4"></span>
					</div>
					<div>
						<h3>@Model.title2</h3>
						<p>@Model.content2</p>
					</div>
				</div>

				<div class="d-flex mb-3 service-alt">
					<div>
						<span class="bi-bag-check-fill me-4"></span>
					</div>
					<div>
						<h3>@Model.title3</h3>
						<p>@Model.content3</p>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
