@model FeatureDto
<div class="section sec-features">
	<div class="container">
		<div class="row g-5">
			<div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
				<div class="feature d-flex">
					<span class="bi-bag-check-fill"></span>
					<div>
						<h3>@Model.title</h3>
						<p>@Model.content </p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
				<div class="feature d-flex">
					<span class="bi-wallet-fill"></span>
					<div>
						<h3>@Model.title2</h3>
						<p>@Model.content2 </p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
				<div class="feature d-flex">
					<span class="bi-pie-chart-fill"></span>
					<div>
						<h3>@Model.title3</h3>
						<p>@Model.content3 </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
